.react-calendar {
  width: 80vw;
  max-width: 1200px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  position:absolute;
  top:10%;
  border-radius: 15px 15px 0 0;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 60px;
}
.react-calendar__navigation__arrow{
  width:60px;
  font-size:45px;
  padding-bottom:5px;
}

.react-calendar__navigation__next-button{
  border-radius:0 15px 0 0;
  &:hover{
    border-radius:0 15px 0 0;
    background-color:#e6e6e6;
  }
}

.react-calendar__navigation__prev-button{
  border-radius:15px 0 0 0;
  &:hover{
    border-radius:15px 0 0 0;
    background-color:#e6e6e6;
  }
}

.react-calendar__navigation__label__labelText{
  color:#525252;
  font-size:20px;
  font-weight: bold;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #fff;
  color:#000;
}


.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  height:60px;
  line-height:55px;
  padding: 0.5em;
  padding-right:13px;
  background-color: #fff6de;
  display:flex;
  justify-content: flex-end;
  display:flex;
  justify-content: center;
  align-items: center;
  abbr[title]{
    color:#525252;
    font-size:18px;
    font-weight:700;
  }
  &:last-child{
    border-right:none;
  }
}

abbr[title] {
  text-decoration: none;
  font-size:16px;
}

.react-calendar__month-view__days button{
  display:flex;
  justify-content: flex-start;
  align-items:flex-end;
  border:1px solid #d9d9d9;
  box-sizing: border-box;
  color:#525252;
  abbr{
    -font-family: 'Gabo Drive', sans-serif; 
    padding:3px 3px 0px 0px;               
  }
  .expense{
    width:110%;
    height:60px;
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-top:20px;
    padding-top:20px;
    position:relative;
    margin:auto;
    div{
      position:relative;
      color:#525252;
      border-radius:20px 0 0 20px;
      text-align: center;
      padding:6px 0;
      margin-top:10px;
      margin-left:20px;
      &:last-child{
        width:15px;
        height:15px;
        font-size:8px;
        display: flex;
        justify-content: center;
        align-items: center;
        -font-family: 'Gabo Drive', sans-serif;
        border-radius: 50%;
        position:absolute;
        top:-27px;
        left:-18px;
      }
    }
  }
  abbr{
    font-size:20px;
  }
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  font-size: 0.75em;
  font-weight: bold;
  box-sizing: border-box;
}
.react-calendar__month-view__days__day {
  height: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
  border:1px solid #292929;
  pointer-events: none;
  abbr{
    display:none;
    color:#e6e6e6;
  }
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #fff6de;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fff8eb;
}

.react-calendar__tile--hasActive {
  background: #76baff;

}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  -background:#757575;
  color: #000;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  -background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
