.daychart {
  max-width: 1200px;
  width: 100%;
  height: 946px;
  margin: 0 auto;
  margin-top: 66px;
  background-color: #fcfcfc;
  .daychart-contents {
    padding: 20px;
    border-radius: 6px;
    .chart-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;
      ul.tabs {
        display: flex;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          border-radius: 6px;
          height: 32px;
          text-align: right;
          padding: 0 16px;
          margin-right: 12px;
          color: var(--text2);
          font-family: "Noto Sans KR";
          font-size: 18px;
          letter-spacing: -.05em;
          font-weight: normal;
          background-color: transparent;
          border: 1px solid var(--text2);
          cursor: pointer;
          &.is-active {
            color: #fff;
            border: none;
            background-color: var(--primary1);
          }
        }
      }
      .choose {
        .dropdown-wrapper {
          position: relative;
          display: inline-block;
          &.is-active .dropdown-menu {
            display: block;
          }
        }
        button.dropdown-toggle {
          border: 1px solid var(--text2);
          background-color: transparent;
          color: var(--text2);
          padding: 0 16px;
          height: 36px;
          &.is-active {
            color: #fff;
            border: none;
            background-color: var(--primary1);
          }
        }
        .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: #f3f3f3;
          padding: 6px;
          border-radius: 0 0 6px 6px;
          li {
            button {
              display: block;
              width: 100%;
              background-color: #f3f3f3;
              color: var(--text);
              padding: 6px;
              transition: .3s;
              &:hover {
                background-color: var(--primary1);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.youtube {
  background-color: #fcfcfc;
  border-radius: 6px;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  p {
    font-family: "Noto Sans KR";
    font-size: 20px;
    letter-spacing: -.05em;
    color: var(--text2);
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text2);
    span {
      font-size: 24px;
      color: var(--primary1);
    }
  }
  .youtube-contents {
    height: 490px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      height: 10%; 
      background-color: var(--primary1);
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
  }
}

.chart-contents {
  margin-bottom: 30px;
  p {
    border-bottom: 1px solid var(--text2);
    font-family: "Noto Sans KR";
    font-size: 20px;
    letter-spacing: -.05em;
    color: var(--text2);
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    span {
      font-size: 24px;
      color: var(--primary1);
    }
  }
}

.chart {
  background-color: #fff;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  div {
    display: flex;
    justify-content: center;
    height: 340px;
    padding: 20px 0;
  }
}

.modal-contents {
  margin-top: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 18px;
    letter-spacing: -.05em;
    color: var(--primary1);
    margin-bottom: 32px;
    span {
      font-family: "Spoqa Han Sans Neo";
      letter-spacing: 0;
    }
  }
  .modal-select {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    > div {
      width: 320px;
      display: flex;
      color: #fff;
      border-radius: 6px;
      cursor: pointer;
      .mdicon {
        padding: 20px;
      }
      .select-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 178px;
        h4 {
          font-family: "Noto Sans KR";
          font-size: 15px;
          letter-spacing: -.05em;
          font-weight: normal;
          padding: 6px 0;
          border-bottom: 1px solid #fff;
        }
        h3 {
          font-family: "Noto Sans KR";
          font-size: 28px;
          letter-spacing: -.05em;
          font-weight: normal;
          padding: 6px 0;
        }
      }
    }
    .buy {
      transition: 0.1s;
      background-color: #338F66;
    }
    .buy:hover {
      transform: scale(0.98);
    }
    .scale {
      transition: 0.1s;
      background-color: var(--primary1);
    }
    .scale:hover {
      transform: scale(0.98);
    }
  }
}